.inc_warranty_popup {



@media(min-width: 576px) {
  .productWhatsCoveredModal_product-whats-covered-wrapper__lNXrH {
      margin:-40px -32px 0
  }
}

@media(min-width: 960px) {
  .productWhatsCoveredModal_product-whats-covered-wrapper__lNXrH {
      margin:-48px -48px 0
  }
}

.productWhatsCoveredModal_col-text__TV_2E {
  width: 100%
}

@media(min-width: 576px) {
  .productWhatsCoveredModal_col-text__TV_2E {
      width:60%;
      padding: 48px 40px
  }
}

@media(min-width: 960px) {
  .productWhatsCoveredModal_col-text__TV_2E {
      width:62%
  }
}

.productWhatsCoveredModal_col-text__TV_2E .productWhatsCoveredModal_plan-link-btn__jnbA1 {
  border-bottom: none;
  font-size: .875rem
}

.productWhatsCoveredModal_col-text__TV_2E .productWhatsCoveredModal_plan-link-btn__jnbA1 .productWhatsCoveredModal_plan-link-text__DeKzD {
  padding-bottom: 1px;
  border-bottom: 1px solid #363636
}

.productWhatsCoveredModal_col-img__dHuN7 {
  width: 40%
}

@media(min-width: 960px) {
  .productWhatsCoveredModal_col-img__dHuN7 {
      width:38%
  }
}

.productWhatsCoveredModal_heading__6Wj7L {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.productWhatsCoveredModal_list-text__NGshX {
  margin: 0 0 1.5rem;
  list-style: disc;
  list-style-position: inside
}

.productWhatsCoveredModal_list-text__NGshX .productWhatsCoveredModal_list-item__FUAYk {
  font-size: .875rem;
  margin: .5rem 0
}

.productWhatsCoveredModal_choose-header__ZOWEw {
  border-top: 1px solid #d8d8d8;
  padding-top: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 1rem;
  font-weight: 700
}

.productWhatsCoveredModal_icon-text-container__sQGGe {
  margin-bottom: 16px;
  font-size: .875rem
}

.productWhatsCoveredModal_icon-text-container__sQGGe .productWhatsCoveredModal_icon-wrapper__i7srP {
  vertical-align: middle;
  margin-right: 12px
}

.productWhatsCoveredModal_whats-covered-col-img__qDP4G {
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 50%
}

.productAddToCartModal_cart-items-bg-wrapper___dzle {
  background-color: #f1f1f1;
  padding: 12px 12px 5px;
  margin-bottom: 20px
}

@media(min-width: 960px) {
  .productAddToCartModal_cart-items-bg-wrapper___dzle {
      padding:24px
  }
}

@media(max-width: 959.98px) {
  .productAddToCartModal_cart-items-bg-wrapper___dzle {
      margin-left:-8px;
      margin-right: -8px
  }

  .productAddToCartModal_cart-items-bg-wrapper___dzle .productAddToCartModal_cart-items-list__OhK_J {
      margin-left: 0;
      margin-right: 0
  }
}

.productAddToCartModal_cart-items-bg-wrapper___dzle .productAddToCartModal_content-btn-wrapper__OGExF {
  margin-top: 9px;
  margin-left: -5px;
  margin-right: -5px
}

@media(min-width: 960px) {
  .productAddToCartModal_cart-items-bg-wrapper___dzle .productAddToCartModal_content-btn-wrapper__OGExF {
      margin-top:16px
  }
}

@media(min-width: 1280px) {
  .productAddToCartModal_cart-items-bg-wrapper___dzle .productAddToCartModal_content-btn-wrapper__OGExF {
      margin-left:-4px;
      margin-right: -4px
  }
}

.productAddToCartModal_cart-items-list__OhK_J {
  margin-left: -8px;
  margin-right: -8px
}

@media(min-width: 960px) {
  .productAddToCartModal_cart-items-list__OhK_J.productAddToCartModal_has-protection-plan__H7EGv {
      padding-right:24px
  }
}

@media(max-width: 959.98px) {
  .productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_cart-item__rmiyD {
      margin-bottom:20px
  }

  .productAddToCartModal_cart-items-bg-wrapper___dzle .productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_cart-item__rmiyD {
      border: none;
      margin-bottom: 0
  }
}

.productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_btn-wrapper__w0aUf,.productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_content-wrapper__EFYzh,.productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_image-wrapper__hvLTa {
  flex: 0 0 auto;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  margin-bottom: 20px
}

.productAddToCartModal_cart-items-bg-wrapper___dzle .productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_btn-wrapper__w0aUf,.productAddToCartModal_cart-items-bg-wrapper___dzle .productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_content-wrapper__EFYzh,.productAddToCartModal_cart-items-bg-wrapper___dzle .productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_image-wrapper__hvLTa {
  margin-bottom: 15px
}

.productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_image-wrapper__hvLTa .productAddToCartModal_icon-wrapper__gHJ4A {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #69774d;
  color: #fff;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 24px;
  font-size: .875rem;
  position: absolute;
  right: -2px;
  top: -5px
}

@media(max-width: 959.98px) {
  .productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_image-wrapper__hvLTa .productAddToCartModal_icon-wrapper__gHJ4A {
      right:5px;
      top: 5px
  }
}

.productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_content-wrapper__EFYzh .productAddToCartModal_title__b_per {
  font-weight: 700
}

.productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_content-wrapper__EFYzh .productAddToCartModal_meta-wrapper__3o_uX .productAddToCartModal_meta-item__38no5 {
  margin-top: 8px
}

@media(min-width: 960px) {
  .productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_image-wrapper__hvLTa {
      width:115px
  }

  .productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_btn-wrapper__w0aUf {
      width: 170px
  }

  .productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_content-wrapper__EFYzh {
      width: calc(100% - 285px)
  }
}

@media(max-width: 959.98px) {
  .productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_image-wrapper__hvLTa {
      width:104px
  }

  .productAddToCartModal_cart-items-list__OhK_J .productAddToCartModal_content-wrapper__EFYzh {
      width: calc(100% - 104px)
  }
}

.productAddToCartModal_personalization-item-wrapper__axwoi {
  margin-top: 16px
}

@media(min-width: 1280px) {
  .productAddToCartModal_personalization-item-wrapper__axwoi {
      margin-top:19px
  }
}

.productAddToCartModal_personalization-item-wrapper__axwoi .productAddToCartModal_img-wrapper__jAKWv {
  margin-bottom: 8px
}

@media(max-width: 959.98px) {
  .productAddToCartModal_personalization-item-wrapper__axwoi .productAddToCartModal_img-wrapper__jAKWv {
      width:56px
  }
}

@media(min-width: 960px) {
  .productAddToCartModal_personalization-price-wrapper__Y82Q3 {
      padding-left:8%
  }
}

@media(max-width: 959.98px) {
  .productAddToCartModal_personalization-price-wrapper__Y82Q3 {
      margin-top:4px
  }

  .productAddToCartModal_btn-viewcart__FUPJI {
      min-width: 145px
  }
}

.productAddToCartModal_you-might-also-like-wrapper__70CQU {
  margin-top: 36px
}

@media(min-width: 960px) {
  .productAddToCartModal_you-might-also-like-wrapper__70CQU {
      margin-top:56px
  }
}

.productAddToCartModal_protection-plan-content__8kCHj {
  opacity: .8;
  margin-bottom: 8px;
  max-width: 264px
}

@media(min-width: 960px) {
  .productAddToCartModal_extend-warranty-error-msg__lMJYq {
      padding-left:123px;
      margin-top: -7px
  }
}

.productAddToCartModal_extend-warranty-error-msg__lMJYq .productAddToCartModal_invalid-feedback__TiUub {
  padding-left: 16px
}

.productAddToCartModal_extend-warranty-error-msg__lMJYq .productAddToCartModal_invalid-feedback__TiUub:before {
  position: absolute;
  left: 0;
  top: 2px;
  margin-right: 0
}

@media(max-width: 959.98px) {
  .productAddToCartModal_extend-warranty-error-msg__lMJYq .productAddToCartModal_invalid-feedback__TiUub {
      font-size:.875rem;
      line-height: 1.14
  }
}

.productAddToCartModal_mobile-content-btn-wrapper__AI8hA {
  margin-bottom: 16px
}

.productAddToCartModal_content-btn-cell-wrapper__TcUNw {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 8px
}

@media(min-width: 1280px) {
  .productAddToCartModal_content-btn-cell-wrapper__TcUNw {
      padding-left:4px;
      padding-right: 4px
  }
}

.productAddToCartModal_warranty-plan-btn-wrapper__JkyAR {
  --bs-btn-padding-x: 10px;
  min-width: 143px
}

@media(min-width: 960px) {
  .productAddToCartModal_warranty-plan-btn-wrapper__JkyAR {
      min-width:148px
  }
}



.productPersonalisationModal_personalize-icon-p__rNWXK {
  margin-right: 8px;
  position: relative
}

@media(min-width: 960px) {
  .productPersonalisationModal_personalize-icon-p__rNWXK {
      top:-3px
  }
}

.productPersonalisationModal_personalize-pop-left__0lKn3,.productPersonalisationModal_personalize-pop-right__wJWWK {
  flex: 0 0 auto;
  width: 100%
}

@media(min-width: 960px) {
  .productPersonalisationModal_personalize-pop-left__0lKn3 {
      width:25%
  }
}

@media(min-width: 1280px) {
  .productPersonalisationModal_personalize-pop-left__0lKn3 {
      width:232px
  }
}

@media(min-width: 960px) {
  .productPersonalisationModal_personalize-pop-right__wJWWK {
      width:75%;
      padding-left: 22px
  }
}

@media(min-width: 1280px) {
  .productPersonalisationModal_personalize-pop-right__wJWWK {
      width:calc(100% - 232px)
  }
}

@media(max-width: 959.98px) {
  .productPersonalisationModal_personalize-pop-right__wJWWK {
      margin-top:32px
  }
}

.productPersonalisationModal_options-div-outer__Tf2ib {
  margin-bottom: 16px
}

@media(min-width: 960px) {
  .productPersonalisationModal_options-div-outer__Tf2ib {
      margin-bottom:28px
  }
}

.productPersonalisationModal_options-div-outer__Tf2ib:last-child {
  margin-bottom: 0
}

.productPersonalisationModal_options-heading___CnKd {
  line-height: 1.38;
  font-weight: 700;
  margin-bottom: 8px
}

@media(min-width: 1280px) {
  .productPersonalisationModal_options-heading___CnKd {
      line-height:1.33;
      margin-bottom: 12px
  }
}

.productPersonalisationModal_options-heading___CnKd .productPersonalisationModal_personalize-icon-numb__dKLu4 {
  margin-right: 8px;
  position: relative;
  top: 2px
}

.productPersonalisationModal_options-div-inner__Xjr_H {
  padding-left: 25px;
  margin-left: -4px;
  margin-right: -4px
}

.productPersonalisationModal_options-div-input-inner__ROD8O {
  padding-left: 4px;
  padding-right: 4px
}

.productPersonalisationModal_options-btn-wrapper__vAgWL {
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 8px;
  flex: 0 0 auto
}

.productPersonalisationModal_options-btn-wrapper__vAgWL .productPersonalisationModal_options-btn__4__KJ {
  padding: 8px;
  min-width: 1px;
  text-decoration: none;
  line-height: normal;
  color: #363636;
  font-size: .875rem;
  outline: 1px solid transparent;
  border: 1px solid #ccc;
  outline-color: transparent
}

.productPersonalisationModal_options-btn-wrapper__vAgWL .productPersonalisationModal_options-btn__4__KJ:hover {
  border-color: #666;
  background-color: #fff;
  color: #363636;
  outline: 1px solid #666
}

.productPersonalisationModal_options-btn-wrapper__vAgWL .productPersonalisationModal_options-btn__4__KJ.productPersonalisationModal_active__bQh2U {
  border-color: #8f6c2c;
  background-color: #fff;
  color: #8f6c2c;
  outline: 1px solid #8f6c2c
}

.productPersonalisationModal_options-btn-wrapper__vAgWL .productPersonalisationModal_button-name__h4vs_ {
  margin-top: 8px
}

.productPersonalisationModal_personalize-pop-footer__KN859 {
  padding-bottom: 40px;
  margin-top: 24px
}

@media(min-width: 960px) {
  .productPersonalisationModal_personalize-pop-footer__KN859 {
      margin-top:36px
  }

  .productPersonalisationModal_per-another-prod__7j_DI {
      padding-right: 12px
  }
}

@media(max-width: 959.98px) {
  .productPersonalisationModal_per-another-prod__7j_DI {
      margin-bottom:12px
  }

  .productPersonalisationModal_action-buttons-wrapper__qcVMs {
      width: 100%
  }
}

@media(min-width: 960px) {
  .productPersonalisationModal_action-buttons-wrapper__qcVMs button {
      margin-right:8px;
      vertical-align: top
  }

  .productPersonalisationModal_action-buttons-wrapper__qcVMs button:last-child {
      margin-right: 0
  }
}

@media(max-width: 959.98px) {
  .productPersonalisationModal_action-buttons-wrapper__qcVMs button {
      margin-bottom:8px;
      width: 100%
  }

  .productPersonalisationModal_action-buttons-wrapper__qcVMs button:last-child {
      margin-bottom: 0
  }
}

.productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  line-height: normal;
  top: 100px;
  text-align: center
}

.productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj.productPersonalisationModal_block-text__qyg_W {
  font-family: blockText,Arial,sans-serif;
  font-size: 32px;
  letter-spacing: 2px
}

@media(min-width: 960px) {
  .productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj.productPersonalisationModal_block-text__qyg_W {
      font-size:28px;
      letter-spacing: 1.5px
  }
}

@media(min-width: 1280px) {
  .productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj.productPersonalisationModal_block-text__qyg_W {
      font-size:32px;
      letter-spacing: 2px
  }
}

.productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj.productPersonalisationModal_script-text__ndDNy {
  font-family: scriptText,Arial,sans-serif;
  text-transform: capitalize;
  font-size: 42px
}

@media(min-width: 960px) {
  .productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj.productPersonalisationModal_script-text__ndDNy {
      font-size:38px
  }
}

@media(min-width: 1280px) {
  .productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj.productPersonalisationModal_script-text__ndDNy {
      font-size:42px
  }
}

.productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj.productPersonalisationModal_burgundy__Fo8Iz {
  color: #903
}

.productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj.productPersonalisationModal_red__bcj_H {
  color: #d50032
}

.productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj.productPersonalisationModal_green__bN1BL {
  color: #034638
}

.productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj.productPersonalisationModal_gold__bXg5B {
  color: #d6a461
}

.productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj.productPersonalisationModal_silver__nldDz {
  color: #bbbcbc
}

.productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj.productPersonalisationModal_white__K9mKc {
  color: #fff
}

.productPersonalisationModal_personalize-pdp-image__d7Kic .productPersonalisationModal_per-preview__OQSTj.productPersonalisationModal_black__aGbRK {
  color: #000
}

.productPersonalisationModal_personalize-icon__wO0wL {
  width: 50px;
  height: 50px;
  display: block;
  border: 1px solid #d8d8d8
}

.productPersonalisationModal_personalize-pinfo__RSmcC {
  margin-top: 10px
}

.productPersonalisationModal_personalize-pinfo__RSmcC .productPersonalisationModal_prod-name-reg__G2_hq {
  font-size: 1rem
}

.productPersonalisationModal_personalize-pinfo__RSmcC .productPersonalisationModal_personalize-pricing__rwgGV {
  margin-top: 20px;
  font-size: .875rem
}

.productPersonalisationModal_personalize-pinfo__RSmcC .productPersonalisationModal_personalize-pricing__rwgGV .productPersonalisationModal_total__VzQh4 {
  border-top: 1px solid hsla(0,0%,60%,.4);
  padding-top: 6px;
  margin-top: 6px
}

.productPersonalisationModal_alert-text__Cjrqg {
  font-weight: 700;
  line-height: 1.33;
  font-size: 1.125rem;
  max-width: 328px
}

@media(min-width: 960px) {
  .productPersonalisationModal_alert-text__Cjrqg {
      font-size:1.25rem;
      line-height: 1.2
  }
}

.productPersonalisationModal_alert-text__Cjrqg .productPersonalisationModal_balsam-icon__Y5Qov {
  font-size: 1.5rem
}

.productPersonalisationModal_save-to-cart-btn-text__yeSdG {
  font-weight: 400;
  min-width: 225px
}
}